{% extends 'accounts/main.html' %}

{% block content %}
	<br>

		

	<div class="card bg-info">
		<div class="card-body text-left">
		  <h3 class="card-text">Products</h3>
		</div>
	</div>

	<div class="card card-body">
		<table class="table">
			
			<tr>
				<th>Product</th>
				<th>Category</th>
				<th>Price</th>
			</tr>
				
			{% for p in ps %}
				<tr>
					<td>{{p.name}}</td>
					<td>{{p.category}}</td>
					<td>{{p.price}}</td>
				</tr>
			{% endfor %}
			<hr>
				
		</table>
	</div>

	{% comment %}
		{% for p in ps %}
		{# Each "contact" is a Contact model object. #}
		{{ p.name|upper }}<br>
		...
		{% endfor %}
	{% endcomment %}


	<div class="container">
		<hr>
		
			<ul class="pagination justify-content-center">
				{% if ps.has_previous %}
					<li class="page-item"><a class="page-link"  href="?page=1">&laquo; first</a></li>	
					<li class="page-item"><a class="page-link"  href="?page={{ ps.previous_page_number }}">previous</a></li>
				{% endif %}
		
				<span class="current">
					<h5>
					<li class="badge badge-light">
						Page {{ ps.number }} of {{ ps.paginator.num_pages }}.
					</li>
				</h5>
				</span>
		
				{% if ps.has_next %}

					<li class="page-item"><a class="page-link"  href="?page={{ ps.next_page_number }}">next</a></li>
					<li class="page-item"><a class="page-link"  href="?page={{ ps.paginator.num_pages }}">last &raquo;</a></li>
				{% endif %}
			</ul>
		
	</div>

{% endblock content %}
					
		


    